/* FONTS 
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
 * */
@import url(https://fonts.googleapis.com/css?family=Jura:400,500,600,300);

@font-face{ 
  font-family: Gitlapse;
  src: url('../fonts/COLLEGE-webfont.eot');
  src: url('../fonts/COLLEGE-webfont.eot?iefix') format('eot'),
  url('../fonts/COLLEGE-webfont.woff') format('woff'),
  url('../fonts/COLLEGE-webfont.ttf') format('truetype'),
  url('../fonts/COLLEGE-webfont.svg#webfont') format('svg');
}

@font-face {
  /*font-family: JDCode;
   */ 

  src: url("../fonts/jd_code.woff") format("woff")
}
/* OVERALL ASPECT */

body {
/*  
 background-color: #f2f2f2;
    font-family: "Open Sans";
 */
    font-family: 'Jura' !important;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
    margin-top: 70px;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Jura' !important;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.mt {
	margin-top: 40px;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/* Bootstrap Modifications */
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
	font-weight: 800;
	font-size: 14px;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #74cfae;
}

.navbar-brand {
	font-size: 60px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.btn-theme {
	color: #ffffff;
	background-color: #74cfae;
	border-color: transparent;
}

.btn {
	padding: 10px 30px;
	margin-bottom: 0;
	font-size: 18px;
	border: 5px solid transparent;
	border-radius: 0px;
}

.lead {
	letter-spacing: 1px;
}

/* WRAP SECTIONS */

/* hello */
#hello {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

#hello h1 {
	font-size: 50px;
	font-weight: 900;
	letter-spacing: 6px;
	color: #74cfae;
}

#hello h2 {
	color: #c0c0c0;
	font-weight: 550;
}

/* Green */
#green {
	background-color: #74cfae;
	padding-top: 20px;
	margin-bottom: 0px;
}

#green h3 {
	color: white;
	font-weight: 400;
	margin-bottom: 35px;
}

#green p {
	color: white;
	font-weight: 400;
	font-size: 20px;
}

/* Footer */
#f-right {
	padding-bottom: 5px;
	padding-top: 20px;
}

#f-right p {
	color: grey;
	text-align: right;
	font-weight: 100;
	margin-bottom: 0px;
}

#f-left {
	padding-bottom: 5px;
	padding-top: 20px;
}

#f-left p {
	color: grey;
	text-align: left;
	font-weight: 100;
	margin-bottom: 0px;
}



a{
  text-decoration: none;
  color:#666;
}
a:hover{
  color:#999;
}
p{
  line-height: 2em;
  margin:0 0 20px;
  text-align: center;
}

.wrap{
  max-width: 600px;
  margin:150px auto;
}

.type-wrap{
  margin:10px auto;
  padding:20px;
  border-radius:5px;
}

.typed-cursor{
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  -ms-animation: blink 0.7s infinite;
  -o-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-ms-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
